node_modules/
android/.gradle/
android/app/build/
android/build/
android/local.properties/
android/captures/
*.keystore
*.jks
keystore.properties
RELEASE_CREDENTIALS.txt
rustore-upload/
.idea/
*.iml
.DS_Store
