# Путь к keystore относительно папки mobile/android/app/
# Пример создания:
# keytool -genkey -v -keystore ../kpk-release.keystore -alias kpk -keyalg RSA -keysize 2048 -validity 10000

storeFile=../kpk-release.keystore
storePassword=CHANGE_ME
keyAlias=kpk
keyPassword=CHANGE_ME
